In [1]:
import pandas as pd
import numpy as np

In [3]:
col = pd.read_csv("data_dictionary.csv")
col.head()

      Field Possible Values                                 Comments
0    fsa_id             int  Food Standard Agency's ID for this pub.
1      name          string                         Name of the pub.
2   address          string      Address fields separated by commas.
3  postcode          string                     Postcode of the pub.
4   easting             int                                      NaN

In [4]:
data = pd.read_csv('open_pubs.csv')

In [5]:
data.head()

,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh

In [6]:
new_header = col["Field"] 
data.columns = new_header 
data.head(10)

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
5,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
6,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
7,137,Carriers Arms,"Heath Road, East Bergholt, COLCHESTER",CO7 6RA,622675,-5527598,\N,\N,Babergh
8,152,Chestnut Tree Farm,"3 Donald Mackintosh Way, Pinewood, IPSWICH",IP8 3LQ,612862,242887,52.043494,1.102543,Babergh
9,172,Cock & Bell,"Cock And Bell, Hall Street, Long Melford, SUDBURY",CO10 9JR,586264,245558,52.077053,0.716643,Babergh

In [7]:
data.loc[0] = ['22','Anchor Inn', 'Upper Street, Stratford St Mary, COLCHESTER', 'CO7 6LW', '604749', '234404', '51.970379', '0.97934','Babergh' ]

In [8]:
data.head(10)

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.97934,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
5,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
6,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
7,137,Carriers Arms,"Heath Road, East Bergholt, COLCHESTER",CO7 6RA,622675,-5527598,\N,\N,Babergh
8,152,Chestnut Tree Farm,"3 Donald Mackintosh Way, Pinewood, IPSWICH",IP8 3LQ,612862,242887,52.043494,1.102543,Babergh
9,172,Cock & Bell,"Cock And Bell, Hall Street, Long Melford, SUDBURY",CO10 9JR,586264,245558,52.077053,0.716643,Babergh

In [9]:
data.isna().sum()

Field
fsa_id             0
name               0
address            0
postcode           0
easting            0
northing           0
latitude           0
longitude          0
local_authority    0
dtype: int64

In [10]:
data.drop(data.index[data['latitude'] == '\\N' ], inplace=True)

In [11]:
data.head(10)

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.97934,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
5,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
6,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
8,152,Chestnut Tree Farm,"3 Donald Mackintosh Way, Pinewood, IPSWICH",IP8 3LQ,612862,242887,52.043494,1.102543,Babergh
9,172,Cock & Bell,"Cock And Bell, Hall Street, Long Melford, SUDBURY",CO10 9JR,586264,245558,52.077053,0.716643,Babergh
10,254,Eight Bells Inn,"Eight Bells Public House, 90-92 Angel Street, ...",IP7 5DD,602934,242836,52.046763,0.957949,Babergh
11,273,Finezza pizza,"Eight Bells Public House, 90-92 Angel Street, ...",IP7 5DD,602934,242836,52.046763,0.957949,Babergh
12,287,Fox and Hounds,"Fox and Hounds., Church Street, Groton, SUDBURY",CO10 5ED,595967,241546,52.037682,0.855749,Babergh

In [19]:
data.reset_index(drop=True,inplace = True)

In [20]:
data.head()

Field,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.97934,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
3,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
4,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh

In [21]:
data.dtypes

Field
fsa_id             object
name               object
address            object
postcode           object
easting            object
northing           object
latitude           object
longitude          object
local_authority    object
dtype: object

In [22]:
data[['latitude', 'longitude']] = data[['latitude', 'longitude']].apply(pd.to_numeric)

In [31]:
data[["name","address","postcode","local_authority"]] = data[["name","address","postcode","local_authority"]].astype("string")#string
data[["fsa_id","easting","northing"]] = data[["fsa_id","easting","northing"]].astype("int") #to interger

In [32]:
data.dtypes

Field
fsa_id               int64
name                string
address             string
postcode            string
easting              int64
northing             int64
latitude           float64
longitude          float64
local_authority     string
dtype: object

In [33]:
data.to_csv('modified_open_pubs.csv',index=False)

In [34]:
df2 = pd.read_csv("/content/modified_open_pubs.csv")
df2.head(11)

,fsa_id,name,address,postcode,easting,northing,latitude,longitude,local_authority
0,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh
3,102,Bristol Arms,"Bristol Hill, Shotley, IPSWICH",IP9 1PU,624624,233550,51.955042,1.267642,Babergh
4,122,Caffeine Lounge,"14 Borehamgate Shopping Precinct, King Street,...",CO10 2ED,587527,241247,52.037903,0.732687,Babergh
5,152,Chestnut Tree Farm,"3 Donald Mackintosh Way, Pinewood, IPSWICH",IP8 3LQ,612862,242887,52.043494,1.102543,Babergh
6,172,Cock & Bell,"Cock And Bell, Hall Street, Long Melford, SUDBURY",CO10 9JR,586264,245558,52.077053,0.716643,Babergh
7,254,Eight Bells Inn,"Eight Bells Public House, 90-92 Angel Street, ...",IP7 5DD,602934,242836,52.046763,0.957949,Babergh
8,273,Finezza pizza,"Eight Bells Public House, 90-92 Angel Street, ...",IP7 5DD,602934,242836,52.046763,0.957949,Babergh
9,287,Fox and Hounds,"Fox and Hounds., Church Street, Groton, SUDBURY",CO10 5ED,595967,241546,52.037682,0.855749,Babergh
10,300,Glemsford Social Club,"25-27 Hunts Hill, Glemsford, SUDBURY, Suffolk",CO10 7RP,582842,247729,52.097693,0.667931,Babergh